body {
  background-color: #white;
  color: #black;
  font-size: 16px;
  line-height:normal;
}

a {
  text-decoration: none;
  font-weight: 600;
}

a:hover {
  color:#0070BB; } /* unvisited */
}

a:visited {
  color: #0070BA;
}

a:active {
  color:#0070bc;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

h1 {
  font-size: 2em;
  font-style: bold;
  margin:auto;
}

h3 {
  font-size: 1.3em;
  font-style: italic;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 100%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
  list-style-type: none;

}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
  text-decoration: none;
}

p {
  margin-bottom: 20px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}

figcaption {
  font-style: italic;
  text-align: center;
}
